@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "variables", "mixin";
@import "compass/reset/utilities";

.test-reset-box-model {
	@include reset-box-model;
}

.headline{
	font-family: $headline-ff;
}

.main-sec{
	font-family: $main-sec-ff;
	@at-root{
		.main-sec-headline{
			font:{
				family: $main-sec-ff;
				size: 16px;
			}
		}

		.main-sec-detail{
			font-size: 12px;
		}
	}
}

p {
	color: hsl(270, 100%, 50%);
}

.webdemo-sec {
	@include col(50%);

	&:hover{
		background-color: #F5F5F5;
	}
}

.error.instrusion{
	background-image: url("/image/hacked.png");
}

.error{
	color: #f00;
}

.serious-error{
	@extend .error;
	border: 1px solid #f00;
}