html, body{
    height: 100%;
}
html{
    position: relative;
}
body{
    //color: $default-color;
    padding-top: $navbar-height;
    font-family: "arial","microsoft yahei","helvetica","sans-serif";
    margin-bottom: -$footer-height;
}

a{
    text-decoration: none;

    &:hover, &:active{
        text-decoration: none;
    }
}

.main{
    height: 100%;
}