$toolbar-size: 52px;
.toolbar{
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -$toolbar-size / 2;
}

.toolbar-item{
    position: relative;
    display: block;
    width: $toolbar-size;
    height: $toolbar-size;
    margin-top: 1px;

    &:hover{
        .toolbar-btn{
            &:before{
                top: -$toolbar-size;
            }
            &:after{
                top: 0;
            }
        }

        &:after{
            opacity: 1;
            transform: scale(1);
        }
    }

    &:after{
        content: ""; //after伪类一定要写content
        position: absolute;
        right: $toolbar-size - 6;
        bottom: -10px;
        width: 172px;
        background-image: url(../img/toolbar_img.png);
        background-repeat: no-repeat;
        opacity: 0;
        transform-origin: 95% 95%;
        transform: scale(0.01);
        transition: all 1s;
    }
}

.toolbar-item-weixin{
    &:after{
        content: "";
        height: 212px;
        background-position: 0 0;
    }

    .toolbar-btn{
        @extend .icon-wechat;
        &:after{
            content: "公众\A账号";
        }
    }
}

.toolbar-item-feedback{
    .toolbar-btn{
        &:before{
            content: "\e600";
        }

        &:after{
            content: "意见\A反馈";
        }
    }
}

.toolbar-item-app{
    &:after{
        content: "";
        height: 194px;
        background-position: 0 -222px;
    }

    .toolbar-btn{
        &:before{
            content: "\e602";
        }

        &:after{
            content: "APP\A下载";
        }
    }
}

.toolbar-item-top{
    .toolbar-btn{
        &:before{
            content: "\e0f4";
        }
        &:after{
            content: "返回\A顶部";
        }
    }
}

.toolbar-btn{
    position: absolute;
    left: 0;
    top: 0;
    width: $toolbar-size;
    height: $toolbar-size;
    overflow: hidden;

    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before{
        //icon
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: $toolbar-size;
        height: $toolbar-size;
        background-color: #d0d6d9;
        font-size: 30px;
        color: #fff;
        text-align: center;
        line-height: $toolbar-size;
        transition: top 1s;
    }

    &:after{
        //text
        content: "";
        position: absolute;
        left: 0;
        top: $toolbar-size;
        width: $toolbar-size;
        height: $toolbar-size;
        background-color: #98a1a6;
        padding-top: 12px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        line-height: 1.2em;
        transition: top 1s;
        white-space: pre;
    }
}