$navbar-height : 50px;
$navbar-bgColor: #ccc;
$navbar-menu-float: right;
$navbar-logo-float: left;
//菜单项右侧外边距
$navbar-menu-mright: 20px;

/*banner*/
$banner-height : 700px;
$banner-bgColor: #777;
//inner最大宽度
$banner-inner-mxwidth: 300px;
$banner-inner-top: 160px;

$banner-inner-more-mgTop: 220px;
$banner-inner-subheading-lineHeight: 30px;
$banner-inner-subheading-margin: 30px;
$banner-button-padding: 14px 60px;
//components
$button-border: none;
$button-bgColor: #333;
$button-color: #eee;
$button-padding: 20px;