//过滤面板
.xb-filter-panel{
  border: $box-border;
  padding:10px;
  @include flex-container();
}

.xb-filter-panel-sub{
  @include flex-container();

  margin:{
    top: 4px;
    bottom: 4px;
  }

  font:{
    size: 12px;
  }

  //border:{
  //  bottom: 1px solid $border-color;
  //}

  &:last-child{
    border:none;
    margin-bottom: 0;
  }
}

.xb-filter-panel-sub-title{
  color: $text-default-color;
  > div{
    width: 100%;
    //border:{
    //  right: 1px solid $border-color;
    //}
    padding:{
      right: 10px;
    }
    margin:{
      top: 5px;
    }
  }
}

.xb-filter-panel-sub-selectors{
  @include flex-sub();

  padding: {
    left: 12px;
  }

  ul{
    margin:{
      bottom:0;
    }
    li{
      display: inline-block;
      margin: 0 15px 5px 0;

      &.active{
        a{
          background-color: $button-bg-active-color;
          border-color: $button-border-active-color;
          color: $button-text-active-color;

          &:hover, &:active{
            color: #fff;
          }
        }
      }
    }
  }

  a{
    display: block;
    //color: $color;
    text-decoration: none;

    padding: 5px 10px;
    border-radius: 14px;

    border: 1px solid $button-border-default-color;
    color: $button-text-default-color;
    &:hover,&:active{
      color: #000;
    }
  }
}

.xb-filter-panel-1{
  @include flex-sub();
}

.xb-filter-panel-2{
  width: 300px;
  padding:14px;
}