@charset "utf-8";

.reset(){
  *{margin:0; padding:0;}
  li{list-style:none;}
  img{border:none;}
  input,select,textarea{outline:none; border:none; background:none;}
  textarea{resize:none;}
  a{text-decoration:none;}
}

.reset();

body{
    background-color: #F5F5F5;
}

.top{
    width: 100%;
    height:27px;
    background: url(../images/top_bg.jpg) repert-x;

    &_content{
        width:1000px;
        margin: 0 auto;

        li{
            list-style-image: url(../images/li_bg.gif);
            float: right;
            width: 80px;
            line-height: 27px;
        }

        a{
            &:link, &:visited{
                color:#8E8E8E;
                text-decoration: none;
            }

            &:hover, &:active{
                color:#D90;
                text-decoration: none;
            }
        }

        
    }
}

.wrap{
    width:1000px;
    margin: 0 auto;

    .logo{
        height: 80px;
        background-color: #FFF;

        &_left{
            width:200px;
            float:left;
        }

        &_right{
            width:300px;
            float:right;
            height:28px;
            margin-top:30px;
            color:#8E8E8E;

            img{
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }

    .nav{
        @nav_h:40px;
        @nav_w:10px;
        height:@nav_h;
        clear: both;

        &_left, &_mid, &_right{
            height: @nav_h;
            float:left;
        }

        &_left{
            width:@nav_w;
            background: url(../images/nav_left.jpg) no-repeat;
            // background-image: url(../images/nav_left.jpg);
            // background-repeat: no-repeat;
        }

        &_mid{
            width: 980px;
            background: url(../images/nav_bg.jpg) repeat-x;

            &_left, &_right{
                float:left;
            }

            &_left{
                width:680px;

                li{
                    float: left;
                    list-style: none;
                    width:100px;
                    text-align: center;
                    line-height: 40px;
                }

                a{
                    &:link, &:visited{
                        text-decoration: none;
                        color:#FFF;
                        font-size: 16px;
                        font-family: "微软雅黑";
                    }

                    &:hover, &:active{
                        text-decoration: none;
                        color:#FF0;
                        font-size: 16px;
                        font-family: "微软雅黑";
                    }
                }
            }

            &_right{
                width:300px;
            }
        }

        &_right{
            width: @nav_w;
            background: url(../images/nav_right.jpg) no-repeat;
        }
    }

    .ad{
        height: 310px;
        overflow: hidden;
        margin-top: 5px;
    }

    .main{
        height:250px;
        margin-top: 5px;
        background-color: #23E;
    }

    .news, .course, .sidebar{
        height: 250px;
        float:left;
    }

    .news{
        width:340px;
        border: 1px solid #E8E8E8;
        background-color: #DAF;
    }

    .course{
        width: 410px;
        border: 1px solid #E8E8E8;
        margin: 0 7px;
        background-color: #AEF;
    }

    .sidebar{
        width:230px;
        background-color: #333;
    }
}

.tel{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #C00;
}

.search_text{
    width:190px;
    height:25px;
    padding-right: 25px;
    background:url(../images/search.jpg) no-repeat right center;
    background-color: #FFF;
    margin-top: 7px;
    boader: 1px solid #FFF;
}




