@import "compass/reset";
@import "compass";
h1{
    font-size: 2em;
}

.panel-head{
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    width: 100% !important;
    //@include background(linear-gradient(#cc1b1b, #FB4444));
    background: #76BCF8;
    padding: 0 20px;
    border: none;
    margin: 0;
    
    h1{
        text-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
        color: #fff;
    }
}

.panel-foot{
    @extend .panel-head;
}