@using 'utf-8';
.green-section{
    text-align: $green-section-text-align;
    color: $green-section-color;
    background: $green-section-bg;
    padding: $green-section-padding;

    .hr{
        background: $green-section-hr-bg;
        width: $green-section-hr-width;
    }

    .icon-group{
        margin-top: $green-icon-group-margin;
        .icon{
            display: inline-block;
            width: $green-icon-size;
            height: $green-icon-size;
            background: $green-icon-color;
            transform:$green-icon-transform;
            margin: $green-icon-margin;
        }
    }
}
.wrapper{
    max-width: $wrapper-max-width;
    margin: 0 auto;
    //overflow: auto; //防止子元素发生margin collapse
}

.gray-section{

    .article-preview {
        font-size: 0;
        background: #1E252A;
        color: #fff;
        overflow: auto;
        
        &:nth-child(odd){
            background-color: #282521;
            .img-section{
                float:left;
            }
            .text-section{
                float:right;
            }
        }

        // &>div {
        //     float: left;
        // }

        &:after{
            content: '';
            display: block;
            clear: both;
        }

        .img-section{
            width: 45%;
            line-height: 0;
            float: right;

            img{
                width: 100%;
            }
        }

        .text-section{
            width: 50%;
            float: left;
            &>*{
                max-width: 80%;
            }
            //position: relative;
            //top: 68px;
            //left: 50px;
            padding: 20px 0 0 20px;

            .sub-heading{
                font-size: 20px;
                margin-top: 0;
            }
        }
    }
}

.purple-section{
    background: #97B8FC;
    color: #fff;
    padding: 80px;

    .heading-wrapper{
        text-align: center;
    }

    .hr{
        background: #fff;
        width: 60%;
    }

    .card{
        float: left;
        width: 50%;
        min-height: 300px;
        padding: 50px;
        box-sizing: border-box;
        border: 1px solid #fff;

        @for $i from 1 through 6 {
          &:nth-child(#{$i}) { 
            background-color: rgba(0, 0, 0, 0.04+0.04*$i);
          }
       }
    }
}


