.wrapper{
  width: 960px;
  margin: 0 auto;

  @extend .clearfix;
}

.main-container{
  float: left;
  width: 676px;
}

.sidebar{
  float: right;
  width: 234px;
}

.filter{
  font-size: 14px;
  padding: 8px;

  .conditions{
    padding: 8px;
    .condition-title{
      display:inline-block;
      margin-right:14px;
      color: $condition-title-color;
    }

    .items{
      border-left: 1px solid $border-color;

      > a {
        display: inline-block;
        margin-left: 14px;
        color: $color;
        padding: 2px 6px;
        line-height: 24px;

        &.active{
          background-color: $button-default-color;
          color: #FFF;
          border-radius: 2px;
        }
      }
    }
  }
}

.projects{
  margin-top: $projects-mtop;

  &-head {
    height: 30px;
    background-color: #EEEEEE;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid $box-border-color;
    font-size: 13px;

    span{
      line-height: 30px;

      a{
        color: $text-default-color;
        display: inline-block;
        height:31px;
        &.info{
          padding-left: 10px;
          padding-right: 10px;
        }

        &.active{
          color: $button-default-color;
          margin-top: -1px;
          //margin-bottom: -2px;
          background: #FFF;
          border: 1px solid $box-border-color;
        }
      }
    }
  }
}

ul.project-list{
  //padding-left: 14px;
  margin-bottom: 0px;
  li{
    list-style: none;
    padding: 14px 20px 20px 90px;
    position: relative;
    margin: 0;

    &:nth-child(2n){background-color:$bg-default-color;} /* 偶数 */

    //类别
    .project-cat{
      float: left;
      width: 64px;
      height: 64px;
      margin-left: -76px;
      padding-left: 16px;
      padding-right: 16px;
      background-color: $project-cat-color;
      text-align: center;
      font-size:16px;
      position: relative;

      a{
        position: absolute;
        top:50%;left:50%;transform:translate(-50%,-50%);
        color: $color;
      }
    }

    header{
      position: relative;
      margin-top:6px;
      height: 34px;

      //标题
      h2{
        font-size: 14px;
        //margin-right: 144px;
        float: left;
        font-weight: bold;
        margin-bottom: 0px;
        a{
          color: $color;
        }
      }

      .deadline{
        //top: 0;
        float:right;
      }

      &:after{
        display: table;
        content: " ";
        clear:both;
      }
    }

    .info{
      color: $text-default-color;
      //用户
      a{
        color: $text-default-color;
      }
    }

    //状态
    .status{
      background-color: #D9D9D9;
      color: $button-default-color;
      border-radius: 10px;
      display: inline-block;
      padding: 1px 6px;
    }
  }
}