$border-color: #D9D9D9;
$box-border-color: #B4B4B4;
$color: #333333;
$button-default-color: #666666;
$text-default-color: #B4B4B4;

/*.header*/
$header-bgColor: #D9D9D9;
$header-height: 52px;
$header-mbottom: 38px;

/*navbar*/
$navbar-width: 960px;
$navbar-height: 50px;
$navbar-menu-float: left;
$navbar-logo-float: left;
//菜单项右侧外边距
$navbar-menu-mright: 20px;
//菜单项的颜色
$navbar-menu-color : #666666;
$navbar-menu-active-color: $color; //选中的菜单颜色
$navbar-menu-width: 80px; //菜单项宽度
$navbar-menu-vmargin: 10px; //菜单项间距


/*-----------box----------*/
$box-border: 1px solid $box-border-color;

/*----------filters--------*/
$condition-title-color: #B4B4B4;

/*----------projects------*/
$projects-mtop: $header-mbottom;
