$border-color: #e7e7e7;
$box-border-color: #e7e7e7;
$bg-default-color: #f8f8f8;
$color: #333333;
$button-bg-default-color: #d9534f;
$button-bg-active-color: #E7816F;
$button-border-default-color: #D9D9D9;
$button-border-active-color: #e78170;
$button-text-active-color: #FFF;
$button-text-default-color: #555;
$button-status-bg-color: #FF4351;
$button-status-text-color: #fff;
$text-default-color: #787d82;
$text-disabled-color: #D9D9D9;

/*.header*/
$header-bgColor: #D9D9D9;
$header-height: 52px;
$header-mbottom: 38px;

/*navbar*/
$navbar-width: 960px;
$navbar-height: 50px;
$navbar-menu-float: left;
$navbar-logo-float: left;
//菜单项右侧外边距
$navbar-menu-mright: 20px;
//菜单项的颜色
$navbar-menu-color : #666666;
$navbar-menu-active-color: $color; //选中的菜单颜色
$navbar-menu-width: 80px; //菜单项宽度
$navbar-menu-vmargin: 10px; //菜单项间距


/*-----------box----------*/
$box-border: 1px solid $box-border-color;

/*----------filters--------*/
$condition-title-color: #B4B4B4;

/*----------projects------*/
$projects-mtop: $header-mbottom;
$category-card-bg-color: #E8E8E8;

/*---------bubble--------*/
$bubble-bg-default-color: #D9D9D9;
$bubble-border-default-color: $bg-default-color;
