<section class="artistpage">
	<div class="search">
		<h1>艺术家查询</h1>
		<label for="">查找：</label>
		<input ng-model="query" type="text" placeholder="查找艺术家" autofocus>
		<label class="formgroup">by:
			<select ng-model="artistOrder">
				<option value="name">姓名</option>
				<option value="reknown">名气</option>
			</select>
		</label>
		<label class="formgroup">
			<input type="radio" ng-model="direction" name="direction" checked>正序
		</label>
		<label class="formgroup">
			<input type="radio" ng-model="direction" name="direction" value="reverse">逆序
		</label>
	</div>
	<ul class="artistlist" ng-show="query">
		<li class="artist cf" ng-repeat="item in artists | filter:query | orderBy: artistOrder:direction">
			<a href="#/details/{{artists.indexOf(item)}}">
			<img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}">
			<div class="info">
				<h2>{{item.name | uppercase}}</h2>
				<h3>{{item.reknown}}</h3>
			</div>
			</a>
		</li>
	</ul>
</section>